<launch>

	<node pkg="quadrotor_flight_control" type="quadrotor_flight_control_node" name="px4ctrl" output="screen">
		<!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->	
		<remap from="~odom" to="/lidar_odometry" />
		<remap from="~cmd" to="/position_cmd" />

        <rosparam command="load" file="$(find quadrotor_flight_control)/config/ctrl_param_fpv.yaml" />
	</node>
    <node pkg="quadrotor_flight_control" type="lidar2imuframe.py" name="lidar2imuframe" output="screen">
	</node>

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="log_output" value="log"/>
	</include> 
</launch>
